@model BTL.Models.DichVu
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddDichVu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>AddDichVu</h1>

<h4>DichVu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddDichVu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenDichVu" class="control-label"></label>
                <input asp-for="TenDichVu" class="form-control" />
                <span asp-validation-for="TenDichVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>