@model BTL.Models.DoiTuongSuDung
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemDoiTuongSuDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Thêm đối tượng sử dụng</h1>

<h4>Đối tượng sử dụng</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ThemDoiTuongSuDung">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TenDtsd" class="control-label"></label>
                <input asp-for="TenDtsd" class="form-control" />
                <span asp-validation-for="TenDtsd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
