@model ThongTinNha
<div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(../Images/@Model.AnhMinhHoa)">
    <div class="overlay overlay-a"></div>
    <div class="intro-content display-table">
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="intro-body">
                            <p class="intro-title-top">
                                Mã số nhà: @Model.MaNha
                                <br> Ngày đăng tải: @Model.NgayDangTai.ToString("dd/MM/yyyy")
                            </p>
                            <h1 class="intro-title mb-4 ">
                                <span class="color-b"> @Model.DiaChiNha</span>
                            </h1>
                            <p class="intro-subtitle intro-price">
                                <a href="#"><span class="price-a">Giá phòng | @Model.GiaPhong.ToString("#,##0") VND</span></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
